@import '../../assets/variables.scss';

.AboutPage {
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    h2 {
    margin-bottom: 1em;
    }
}

#staff_overview {
    width: 60%;
    margin: auto;
}

#staff_overview p {
    text-align: justify;
    padding: 1em;
    line-height: 1.2em;
}

#staff {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.staff_member {
    padding: 1.2em;
    width: calc(100% / 3);
    box-shadow: 0 0 2px rgba(106, 114, 107, 0.253);
    border-radius: 10px;
}

.staff_name {
    font-weight: bold;
    text-align: left;
    padding-top: 1em;
    padding-bottom: 0.3em;
}

.staff_title {
    text-align: left;
    padding-bottom: 1em;
}

.staff_description {
    text-align: justify;
    line-height: 1.2em;
}

.staff_member img {
    width: 100%;
}

@media screen and (min-width: 2200px) {
    #staff {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 40%;
    }
    #staff_overview {
        width: 40%;
    }
    .staff_member {
    padding: 1.2em;
    width: calc(100% / 3);
}
}

@media screen and (max-width: 1600px) {
    #staff {
        display: flex;
        flex-direction: column;
    }
    .staff_member {
        width: 100%;
        img {
            width: calc(100% / 3);
        }
    }
}

@media screen and (max-width: 800px) {
    #staff {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    #staff_overview {
        width: 80%;
    }
    .staff_member {
        width: 100%;
        img {
            width: calc(100% / 3);
        }
    }
}