@import '../../assets/variables.scss';

.LoginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  h2 {
    margin: 1em 0;
    padding: 0 2em;
  }
  p {
    margin: 1em 0;
    padding: 0 2em;
  }

  .login-box {
      border-radius: $border-radius-small;
      @include box-shadow-reg;
  }
}