@import '../../assets/variables.scss';


.edit-teacher {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30%;

    input,
    textarea,
    select {
      @include input-big;
    }

    input,
    select,
    textarea {
      margin-top: 0.5em;
    }

    select {
        padding: 0;
    }

    label {
        margin-top: 1em;
    }

    button {
        @include purple-button;
        width: 200px;
      }
}