@import '../../assets/variables.scss';

.LoginForm {

  legend {
    margin-bottom: .5em;
    color: grey;
  }

  input[type=radio] {
    margin: 0 1em;
    width: initial;
    height: initial
  }
  fieldset {
    padding: 0 2em;
  }
  input {
    border: none;
    border-bottom: 2px solid $accent-color;
    // width: 350px;
    height: 2em;
    font-size: 1em;
    font-family: $fancy-font;
    &:focus {
      outline-width: 0;
    }
  }

  .username, .password {
    label {
      margin-top: 2em;
      padding: 0 2em;
      color: grey;
    }
    
    input {
      width: 80%;
      margin: auto;
    }

    display: flex;
    flex-direction: column;
  }
  button {
    @include green-button;
    width: 82px;
    height: 34px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 1.5em;

  }
}